</div> <!-- Closing class=container div -->
</main>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
</body>


        <footer>
          <div class="footer-copyright center-align">
            <div class="container">
            <p class="">© {{ .Site.Params.copyrightyear }} {{ .Site.Params.name }}</p>
            </div>
          </div>
        </footer>



</html>