<!-- Sweet socialbox, bro! -->
<div class="socialshare">
    <span>Share this post: 

        <a href="" class="button-space-left tooltipped" data-position="top" data-delay="50" data-tooltip="Email to a friend" onclick="javascript:window.location='mailto:?subject=Interesting post&body=I thought you might find this post interesting: ' + window.location;return false;"><i class="fa fa-lg fa-envelope-o"></i></a>
        
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" class="button-space-left tooltipped" data-position="top" data-delay="50" data-tooltip="Share this post on facebook" ><i class="fa fa-lg fa-facebook-square"></i></a>
        
        <a href="#" class="button-space-left tooltipped" data-position="top" data-delay="50" data-tooltip="tweet about this post"><i class="fa  fa-lg fa-twitter"></i></a>

        <a href="//www.reddit.com/submit" class="button-space-left tooltipped" data-position="top" data-delay="50" data-tooltip="Share on reddit" onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false"><i class="fa fa-lg fa-reddit"></i></a>

</span>
</div>