{{ partial "header.html" . }}

{{ range first 10 .Data.Pages }}
{{ if eq .Type "post" }}
<div class="section">
    <h5><a class="black-text" href="{{ .Permalink }}">{{ .Title }}</a></h5> 
    <b>{{ .Params.author }}</b>
    <br>{{ .Date.Format "02 January 2015" }}
    <blockquote>{{ .Summary }}</blockquote>
    <a class="waves-effect waves-light btn">Read More</a>
</div>
<div class="divider"></div>
{{ end }}
{{end}}

<!--
 <h1>Pages</h1>
    {{ range .Data.Pages }}
    {{ if eq .Type "page" }}
    <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3> 
    {{ end }}
    {{end}}   
    -->



{{ partial "footer.html" . }}